spring:
  datasource:
    url: jdbc:mysql://localhost:3306/product
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
